.reloj {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: gray;
  border: 5px solid black;
  margin-left: 0;
  margin-top: 0; }

.numero {
  height: 250px;
  color: black;
  font-size: 50px;
  line-height: 80px;
  position: absolute;
  margin-left: 255px;
  top: 0px;
  transform-origin: bottom left; }
  .numero.n1 {
    transform: rotate(30deg); }
  .numero.n2 {
    transform: rotate(60deg); }
  .numero.n3 {
    transform: rotate(90deg); }
  .numero.n4 {
    transform: rotate(120deg); }
  .numero.n5 {
    transform: rotate(150deg); }
  .numero.n6 {
    transform: rotate(180deg); }
  .numero.n7 {
    transform: rotate(210deg); }
  .numero.n8 {
    transform: rotate(240deg); }
  .numero.n9 {
    transform: rotate(270deg); }
  .numero.n10 {
    transform: rotate(300deg); }
  .numero.n11 {
    transform: rotate(330deg); }
  .numero.n12 {
    transform: rotate(360deg); }

.aguja {
  height: 230px;
  background: black;
  transform-origin: bottom left;
  position: absolute;
  left: 255px;
  top: 20px; }

.horero {
  width: 10px; }

.minutero {
  width: 5px; }

.segundero {
  width: 3px; }

.digital {
  font-size: 100px; }

/*

set time interval(function, time);

<div class="reloj">
            <div class="numero n1">
                <div>1</div>
            </div>  
            <div class="numero n2">
                <div>2</div>
            </div>
            <div class="numero n3">
                <div>3</div>
            </div>
            <div class="numero n4">
                <div>4</div>
            </div>
            <div class="numero n5">
                <div>5</div>
            </div>
            <div class="numero n6">
                <div>6</div>
            </div>
            <div class="numero n7">
                <div>7</div>
            </div>
            <div class="numero n8">
                <div>8</div>
            </div>
            <div class="numero n9">
                <div>9</div>
            </div>
            <div class="numero n10">
                <div>10</div>
            </div>
            <div class="numero n11">
                <div>11</div>
            </div>
            <div class="numero n12">
                <div>12</div>
            </div>
            <div class="aguja horero"></div>
            <div class="aguja minutero"></div>
            <div class="aguja segundero"></div>

<div class="digital">
                <div class="hora">4</div>
                <div class="dot">:</div>
                <div class="minuto">00</div>
            </div>
            
        </div>*/
